
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <h1>Welcome <%=player.name%></h1>
    <h3>I belong to this team: <%= player.Team.name %></h3>
    <form action="/users/profile/<%=player.id%>?_method=PUT" method="POST">
      Name:
      <input type="text" name="name" value="<%=player.name%>" /><br />
      <br />
      Username:
      <input type="text" name="username" value="<%=player.username%>" />
      <br />
      <br />
      Password:
      <input type="text" name="password" value="<%=player.password%>" />
      <br />
      <br />
      Team:
      <select name="teamId">
	<% for ( let i = 0; i < teams.length; i++ ) { let selected = ( i == 0 )
	? "selected" : ""; %>
	<option value="<%=teams[i].id%>" selected><%=teams[i].name%> </option>
	<% } %>
      </select>

      <br />
      <br />
      <input type="submit" value="Edit Profile" />
    </form>
    <br />
    <form action="/user/<%= player.id%>?_method=DELETE" method="POST">
      <input type="submit" value="Delete Player" />
    </form>

    <br /><br />
    <a href="/pokemon">View All Pokemon</a>

    <h3>Pokemon added by you:</h3>
    <% for (let i = 0; i < player.Pokemons.length; i++){ %>
    <li>
      <%=player.Pokemons[i].name%></a>
    </li>
    <br />
    <% } %>

    <br /><br />
  </body>
</html>